In [3]:
import pandas as pd

In [15]:
df= pd.read_csv('data/australian.dat', sep=' ')
df.head()

   1  22.08   11.46  2  4  4.1  1.585  0  0.1  0.2  1.1  2.1  100  1213  0.3
0  0  22.67   7.000  2  8    4  0.165  0    0    0    0    2  160     1    0
1  0  29.58   1.750  1  4    4  1.250  0    0    0    1    2  280     1    0
2  0  21.67  11.500  1  5    3  0.000  1    1   11    1    2    0     1    1
3  1  20.17   8.170  2  6    4  1.960  1    1   14    0    2   60   159    1
4  0  15.83   0.585  2  8    8  1.500  1    1    2    0    2  100     1    1

In [13]:
idx = pd.read_csv('data/index', header=None)
idx.head()

                                     0
0                  Index of australian
1           02 Dec 1996      120 Index
2  04 Mar 1993     2467 australian.doc
3  13 Feb 1993    28735 australian.dat

In [14]:
df.shape, idx.shape

((689, 15), (4, 1))